@font-face {
    font-family: 'Droid Sans Mono';
    src: url('../fonts/droidsansmono-webfont.eot');
    src: url('../fonts/droidsansmono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidsansmono-webfont.woff2') format('woff2'),
         url('../fonts/droidsansmono-webfont.woff') format('woff'),
         url('../fonts/droidsansmono-webfont.ttf') format('truetype'),
         url('../fonts/droidsansmono-webfont.svg#droid_sans_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
