//===========================
// Colors
//===========================

// Backgrounds

$primary-dark: #3e485e;
$secondary-dark: #49536b;

$primary-lightblue: #f5f7f9;
$secondary-lightblue: #e8ecf0;

$primary-aqua: #1bc0e3;
$primary-aquadark: #20b1d0;
$primary-aquahover: #1bbcde;

$secondary-background: #FFF;
$secondary-border: #e0e5eb;
$secondary-border-hover: #dce2e8;

// Typography

$primary-text: #37414b;
$secondary-text: #495765;

$link: #0ca3cf;
$link-hover: #0e9cc6;

$secondary-button: #6d7c8b;
$secondary-button-hover: #647382;

$tertiary-text: #808f9e;
